$black: #323233;
$blue-base: #008cd6;
$blue-dark: #006aa5;
$blue-darker: #00466d;
$blue-darkest: #002437;
$blue-deep-base: #055473;
$blue-deep-light: #00678b;
$blue-light-base: #5ac8fa;
$blue-light-dark: #408eb2;
$blue-light-darker: #26556b;
$blue-light-light: #89d7fb;
$blue-light-lighter: #b8e7fc;
$blue-light-lightest: #e8f7fe;
$blue-light: #00abe5;
$blue-lighter: #62c7ee;
$blue-lightest: #b4e3f6;
$blue-vivid-base: #007aff;
$blue-vivid-dark: #0057b6;
$blue-vivid-darker: #00346d;
$blue-vivid-light: #48a0ff;
$blue-vivid-lighter: #91c6ff;
$blue-vivid-lightest: #daecff;
$cyan-base: #00ced1;
$cyan-dark: #009a9c;
$cyan-darker: #006668;
$cyan-darkest: #003334;
$cyan-light: #40dadc;
$cyan-lighter: #80e6e8;
$cyan-lightest: #bff2f3;
$cyan: #00ffff;
$dark-gray-base: #323233;
$dark-gray-dark: #282828;
$dark-gray-darker: #1e1e1e;
$dark-gray-darkest: #161719;
$dark-gray-light: #3c3c3c;
$dark-gray-lighter: #464646;
$dark-gray-lightest: #4e4e4f;
$gray-base: #c8c8c8;
$gray-dark: #c0c0c0;
$gray-darker: #89898a;
$gray-darkest: #3e3e40;
$gray-light: #e1e1e1;
$gray-lighter: #ededed;
$gray-lightest: #fafafa;
$grayish-blue-base: #40506f;
$grayish-blue-light: #004280;
$green-base: #00cc66;
$green-bright-base: #0cc90c;
$green-bright-dark: #088f08;
$green-bright-darker: #055605;
$green-bright-light: #51d851;
$green-bright-lighter: #96e796;
$green-bright-lightest: #dcf7dc;
$green-dark: #009b42;
$green-darker: #00672c;
$green-darkest: #003416;
$green-light: #48da91;
$green-lighter: #91e9bd;
$green-lightest: #b6f0d3;
$green-vivid-base: #1ae986;
$green-vivid-dark: #12a65f;
$green-vivid-darker: #0b6439;
$green-vivid-light: #5befa8;
$green-vivid-lighter: #9cf5cb;
$green-vivid-lightest: #defbed;
$grey-base: #999999;
$grey-light: #c8c8c8;
$light-gray-base: #a1a1a1;
$light-gray-light: #c2c2c2;
$magenta-base: #d700f9;
$magenta-dark: #9900b1;
$magenta-darker: #5c006a;
$magenta-light: #e248fa;
$magenta-lighter: #ed91fc;
$magenta-lightest: #f9dafe;
$orange-base: #ffa400;
$orange-dark: #cd7600;
$orange-darker: #884e00;
$orange-darkest: #452800;
$orange-light: #ffb700;
$orange-lighter: #ffcf72;
$orange-lightest: #ffe7ba;
$pink-base: #f7567c;
$pink-dark: #cc325b;
$pink-darker: #88223c;
$pink-darkest: #44121f;
$pink-light: #ff779b;
$pink-lighter: #ffa5bd;
$pink-lightest: #ffd2de;
$purple-base: #7d2ed7;
$purple-dark: #661ba7;
$purple-darker: #44126f;
$purple-darkest: #220a37;
$purple-light: #a85de8;
$purple-lighter: #c793f1;
$purple-lightest: #e3c9f7;
$red-base: #f55d3e;
$red-dark: #c93a22;
$red-darker: #862716;
$red-darkest: #44140c;
$red-light: #ff7d66;
$red-lighter: #ffaa9a;
$red-lightest: #ffd4cc;
$red: #e6757b;
$vivid-blue-base: #3395ff;
$vivid-blue-light: #99caff;
$vivid-navy-base: #0b4cd9;
$vivid-navy-dark: #0038a8;
$vivid-navy-darker: #002570;
$vivid-navy-darkest: #001438;
$vivid-navy-light: #2f79e9;
$vivid-navy-lighter: #7aa6f2;
$vivid-navy-lightest: #bcd3f8;
$white: #ffffff;
$yellow-base: #f9c80e;
$yellow-dark: #c39300;
$yellow-darker: #826200;
$yellow-darkest: #413200;
$yellow-green-base: #b2e300;
$yellow-green-dark: #7fa200;
$yellow-green-darker: #4c6100;
$yellow-green-light: #c8eb48;
$yellow-green-lighter: #def391;
$yellow-green-lightest: #f4fbda;
$yellow-light: #ffd40f;
$yellow-lighter: #ffe277;
$yellow-lightest: #fff1bc;

:export {
  black: $black;
  blueBase: $blue-base;
  blueDark: $blue-dark;
  blueDarker: $blue-darker;
  blueDarkest: $blue-darkest;
  blueDeepBase: $blue-deep-base;
  blueDeepLight: $blue-deep-light;
  blueLightBase: $blue-light-base;
  blueLightDark: $blue-light-dark;
  blueLightDarker: $blue-light-darker;
  blueLightLight: $blue-light-light;
  blueLightLighter: $blue-light-lighter;
  blueLightLightest: $blue-light-lightest;
  blueLight: $blue-light;
  blueLighter: $blue-lighter;
  blueLightest: $blue-lightest;
  blueVividBase: $blue-vivid-base;
  blueVividDark: $blue-vivid-dark;
  blueVividDarker: $blue-vivid-darker;
  blueVividLight: $blue-vivid-light;
  blueVividLighter: $blue-vivid-lighter;
  blueVividLightest: $blue-vivid-lightest;
  cyanBase: $cyan-base;
  cyanDark: $cyan-dark;
  cyanDarker: $cyan-darker;
  cyanDarkest: $cyan-darkest;
  cyanLight: $cyan-light;
  cyanLighter: $cyan-lighter;
  cyanLightest: $cyan-lightest;
  cyan: $cyan;
  darkGrayBase: $dark-gray-base;
  darkGrayDark: $dark-gray-dark;
  darkGrayDarker: $dark-gray-darker;
  darkGrayDarkest: $dark-gray-darkest;
  darkGrayLight: $dark-gray-light;
  darkGrayLighter: $dark-gray-lighter;
  darkGrayLightest: $dark-gray-lightest;
  grayBase: $gray-base;
  grayDark: $gray-dark;
  grayDarker: $gray-darker;
  grayDarkest: $gray-darkest;
  grayLight: $gray-light;
  grayLighter: $gray-lighter;
  grayLightest: $gray-lightest;
  grayishBlueBase: $grayish-blue-base;
  grayishBlueLight: $grayish-blue-light;
  greenBase: $green-base;
  greenBrightBase: $green-bright-base;
  greenBrightDark: $green-bright-dark;
  greenBrightDarker: $green-bright-darker;
  greenBrightLight: $green-bright-light;
  greenBrightLighter: $green-bright-lighter;
  greenBrightLightest: $green-bright-lightest;
  greenDark: $green-dark;
  greenDarker: $green-darker;
  greenDarkest: $green-darkest;
  greenLight: $green-light;
  greenLighter: $green-lighter;
  greenLightest: $green-lightest;
  greenVividBase: $green-vivid-base;
  greenVividDark: $green-vivid-dark;
  greenVividDarker: $green-vivid-darker;
  greenVividLight: $green-vivid-light;
  greenVividLighter: $green-vivid-lighter;
  greenVividLightest: $green-vivid-lightest;
  greyBase: $grey-base;
  greyLight: $grey-light;
  lightGrayBase: $light-gray-base;
  lightGrayLight: $light-gray-light;
  magentaBase: $magenta-base;
  magentaDark: $magenta-dark;
  magentaDarker: $magenta-darker;
  magentaLight: $magenta-light;
  magentaLighter: $magenta-lighter;
  magentaLightest: $magenta-lightest;
  orangeBase: $orange-base;
  orangeDark: $orange-dark;
  orangeDarker: $orange-darker;
  orangeDarkest: $orange-darkest;
  orangeLight: $orange-light;
  orangeLighter: $orange-lighter;
  orangeLightest: $orange-lightest;
  pinkBase: $pink-base;
  pinkDark: $pink-dark;
  pinkDarker: $pink-darker;
  pinkDarkest: $pink-darkest;
  pinkLight: $pink-light;
  pinkLighter: $pink-lighter;
  pinkLightest: $pink-lightest;
  purpleBase: $purple-base;
  purpleDark: $purple-dark;
  purpleDarker: $purple-darker;
  purpleDarkest: $purple-darkest;
  purpleLight: $purple-light;
  purpleLighter: $purple-lighter;
  purpleLightest: $purple-lightest;
  redBase: $red-base;
  redDark: $red-dark;
  redDarker: $red-darker;
  redDarkest: $red-darkest;
  redLight: $red-light;
  redLighter: $red-lighter;
  redLightest: $red-lightest;
  red: $red;
  vividBlueBase: $vivid-blue-base;
  vividBlueLight: $vivid-blue-light;
  vividNavyBase: $vivid-navy-base;
  vividNavyDark: $vivid-navy-dark;
  vividNavyDarker: $vivid-navy-darker;
  vividNavyDarkest: $vivid-navy-darkest;
  vividNavyLight: $vivid-navy-light;
  vividNavyLighter: $vivid-navy-lighter;
  vividNavyLightest: $vivid-navy-lightest;
  white: $white;
  yellowBase: $yellow-base;
  yellowDark: $yellow-dark;
  yellowDarker: $yellow-darker;
  yellowDarkest: $yellow-darkest;
  yellowGreenBase: $yellow-green-base;
  yellowGreenDark: $yellow-green-dark;
  yellowGreenDarker: $yellow-green-darker;
  yellowGreenLight: $yellow-green-light;
  yellowGreenLighter: $yellow-green-lighter;
  yellowGreenLightest: $yellow-green-lightest;
  yellowLight: $yellow-light;
  yellowLighter: $yellow-lighter;
  yellowLightest: $yellow-lightest;
}
