.totalReactCommonSwitchPanel {
  margin-top: 14px;
}

.titleClass {
  margin: 5px 12px 7px 0;
  font-family: Roboto;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
}

.time-picker-div-style {
  display: flex;
  align-items: center;
  margin-left: 12px;
  border: solid 2px #464646;
  height: 40px;
  background-color: #1e1e1e;
}

.commonSwitchTime {
  width: 151px;
  height: 40px;
  margin: 0 0 0 964px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #c8c8c8;
}

.advantech-common-switch-react-panel-select-style {
  display: flex;
}
.advantech-common-switch-react-panel-select-style
  .gf-form-select-box__desc-option {
  min-height: 32px;
}
